<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Show Rote</h1>
    <img src="<%= songDetails.thumbnail %>" alt="song Thumbnail">
    <p><%=songDetails.title%></p>
    <p><%=songDetails.description%></p>
    <p><%=songDetails.song%></p>
    <form action="/show/<%=songDetails._id%>/edit" method="GET">
    <button>Edit</button>
    </form>
    <form action="/show/<%=songDetails._id%>?_method="DELETE" method="POST">
        <button>DELETE</button></form>
</body>
</html>