<%- layout(/layouts/boilerplate) %>
    <h1>Show Rote</h1>
    <img src="<%= songDetails.thumbnail %>" alt="song Thumbnail">
    <p><%=songDetails.title%></p>
    <p><%=songDetails.description%></p>
    <audio src="<%=songDetails.song%>" controls></audio>
    <form action="/show/<%=songDetails._id%>/edit" method="GET">
    <button>Edit</button>
    </form>
    <form action="/show/<%=songDetails._id%>?_method=DELETE" method="POST">
        <button>DELETE</button></form>
